/* Début codage CSS */
* { /* Concernne toute le page HTML */
    overflow: auto;
}
body { /* S'applique à tout le body HTML */
    background-color: #8BA1BB; /* Colore tout le fond en bleu ciel */
    font-family: Arial;
    margin: 0;
}
div.contenu {
    background-color: white;
    margin: 40px 8px 40px 8px;
    padding: 0px 8px 20px 8px; /* Evite de coller le texte aux marges */
    /* offset-x | offset-y | blur-radius | spreed-radius | color */
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    overflow: visible;
}

h1 {
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
}
p.description {
    max-width: 400px; /* Limite la taille du texte à 400px */
    display: inline-block;
    font-size: 14px;
}
.centre {
    text-align: center; 
    width: 100%;
}
p.categorie { /* Ne s'applique qu'au paragraphe typé "categorie" */
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -15px;
    padding: 8px 18px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 16px;
} 
div.categorie {
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}
div.separateur {
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}  
div.info {
    position: relative;
}   
table.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #6C829DC0;
    height: 50px;
}
table.info td { /* Texte */
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}
table.info th { /* Titre */
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 8px;
}
img.info {
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgray;
}
div.colonne {
    width: 100%;
    margin-top: 20px;
}
div.colonne h2 {
    text-align: center; /* Alligne le texte des deux titres h2 "Ingredients et Préparation" */
    text-transform: uppercase; /* Met en majuscule les deux titres h2 "Ingrédients et Préparation" */
    font-size: 15px; /* Met une font 15 pixels sur les deux titres h2 "Ingrédients et Préparation" */
    border-bottom: 5px solid #6C829D; /* Surligne les deux titres h2 "Ingrédients et Préparation" en bleu sur 5 pixels */
    padding-bottom: 5px;
}
div.colonne1 {
    display: inline-block;
}
div.ingredients p {
    text-align: center; /* Aligne tous le paragraphes de la div Ingredients */
    font-size: 14px; /* aplique une poilce de 14 sur tous les paragraphes de la div */
    border: 1px solid lightgray; /* Dessine une rectangle sur tous le paragraphes de la div */
    padding: 8px 0px; /* Positionne un padding (espace de 8 pixel en vertical et 0 en Horizontal */
    margin-top: 4px;
    margin-bottom: 0;
}
table.preparation p.numero{ /* Permet de dessiner les ronds des numéros en bleu */
    background-color: #6C829D; 
    color: white; /* Colore les numéros en blancs */
    width: 25px; /* Largeur de la zone numéro */
    height: 25px; /* Hauteur de la zone numéro */
    text-align: center; /* Centrage du numero */
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box; /* recentre les numéros */
    border-radius: 50%; /* Permet de dessiner un cercle */
    margin: 0; /* Remonte la bulle */
}
table.preparation td {
    vertical-align: top;
}
table.preparation td.preparation_etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.preparation tr {
    height: 40px;
}

/* Style pour Ordinateur */
@media only screen and (min-width: 768px) {
    div.contenu {
        min-width: 350px;
        margin: 60px 10% 80px 10%;
        padding: 0px 30px 30px 30px; /* Evite de coller le texte aux marges */
    }
    table.info {
        height: 80px;
    }
    table.info td {
        font-size: 14px;
    }
    table.info th { /* Titre */
        font-size: 16px;
    }
    div.colonne {
        width: 45%;
    }
    div.colonne1 {
        margin-right: 10%;
    }
    div.colonne2 {
        float: right; /* Met les deux paragraphe sur la même ligne */
    }
}
@media only screen and (min-width: 900px) {
    div.contenu {
        margin-left: auto;
        margin-right: auto;
        width: 660px;
    }
}

/* Fin codage CSS */